# 도표 시각화

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
df = pd.read_csv('/localRepository/recipes_oraganization/chicken_price_prediction/데이터전처리/pre_data/월별_통합.csv')
df

,Unnamed: 0,date,닭고기가격,병아리(원/수),일별_평균기온,일별_최저기온,일별_최고기온,13도미만_평균기온,13도미만_최저기온,13도미만_최고기온,...,hot_day,cold_day,import amount,feedprice,Dubai,Brent,WTI,oil_avg,count,도축
0,0,2012-01-31,3202,250,-1.5,-6.2,3.6,-1.5,-6.2,3.6,...,NaN,4.0,8754,533.6,109.456667,111.452381,100.289286,107.066111,356,58873
1,1,2012-02-29,3668,420,-1.1,-6.2,4.5,-1.1,-6.2,4.5,...,NaN,3.0,10098,529.9,116.180952,119.060000,102.370952,112.537302,672,55879
2,2,2012-03-31,4169,500,5.4,0.7,10.4,5.4,0.7,10.4,...,NaN,NaN,10836,527.9,122.487273,124.544545,106.205000,117.745606,870,58750
3,3,2012-04-30,3399,332,12.4,6.4,18.7,12.4,6.4,18.7,...,NaN,NaN,13412,526.3,117.338500,120.486500,103.346000,113.723667,718,60940
4,4,2012-05-31,3255,200,18.1,12.6,24.4,NaN,NaN,NaN,...,NaN,NaN,14519,526.2,107.719348,110.288696,94.546087,104.184710,496,73505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,2021-08-31,3505,312,24.8,21.5,29.2,NaN,NaN,NaN,...,3.0,NaN,9360,492.0,69.518864,70.513636,67.711364,69.247955,670,89892
116,116,2021-09-30,3074,408,21.3,17.7,25.8,NaN,NaN,NaN,...,NaN,NaN,9009,503.0,72.628182,74.876364,71.420909,72.975152,479,81026
117,117,2021-10-31,3913,447,15.1,10.4,21.2,NaN,NaN,NaN,...,NaN,NaN,12005,508.0,81.610952,83.746190,81.222857,82.193333,591,81228
118,118,2021-11-30,2985,315,8.3,3.3,14.5,8.3,3.3,14.5,...,NaN,NaN,10025,520.0,80.317500,80.849545,78.409091,79.858712,652,86819
119,119,2021-12-31,3320,273,1.9,-3.1,7.4,1.9,-3.1,7.4,...,NaN,1.0,11293,511.0,73.303043,74.803913,71.820000,73.308986,444,90151

In [4]:
df.columns

Index(['Unnamed: 0', 'date', '닭고기가격', '병아리(원/수)', '일별_평균기온', '일별_최저기온',
       '일별_최고기온', '13도미만_평균기온', '13도미만_최저기온', '13도미만_최고기온', '25도이상_평균기온',
       '25도이상_최저기온', '25도이상_최고기온', 'hot_day', 'cold_day', 'import amount',
       'feedprice', 'Dubai', 'Brent', 'WTI', 'oil_avg', 'count', '도축'],
      dtype='object')

In [6]:
df = df[['date','닭고기가격','병아리(원/수)','25도이상_평균기온','hot_day','import amount','feedprice']]
df

,date,닭고기가격,병아리(원/수),25도이상_평균기온,hot_day,import amount,feedprice
0,2012-01-31,3202,250,NaN,NaN,8754,533.6
1,2012-02-29,3668,420,NaN,NaN,10098,529.9
2,2012-03-31,4169,500,NaN,NaN,10836,527.9
3,2012-04-30,3399,332,NaN,NaN,13412,526.3
4,2012-05-31,3255,200,NaN,NaN,14519,526.2
...,...,...,...,...,...,...,...
115,2021-08-31,3505,312,NaN,3.0,9360,492.0
116,2021-09-30,3074,408,NaN,NaN,9009,503.0
117,2021-10-31,3913,447,NaN,NaN,12005,508.0
118,2021-11-30,2985,315,NaN,NaN,10025,520.0
119,2021-12-31,3320,273,NaN,NaN,11293,511.0

In [10]:
import os
import numpy as np
from matplotlib import pyplot as pyplot
import seaborn as sns
from math import sqrt

from numpy import concatenate
from matplotlib import pyplot
import itertools
import warnings

import datetime
from datetime import datetime
from scalecast.Forecaster import Forecaster
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'scalecast'

In [13]:
np.set_printoptions(formatter={'float_kind':'{:f}'.format})

sns.set(rc={'figure.figsize':(8,6)})

warnings.filterwarnings('ignore')

In [17]:
Forecaster()
f = Forecaster(y=df['닭고기가격'], current_dates=df['date'])
f.plot()

NameError: name 'Forecaster' is not defined