In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 전국 평균 기온 전처리

In [23]:
# 2012~2021년 각 월별 평균 기온 데이터
avg_temperature = pd.read_csv('./data/2012-2021기온.csv', encoding='utf-8')

In [24]:
avg_temperature

             년월  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0    2012-01-01  전국     -1.5     -6.2      3.6
1    2012-02-01  전국     -1.1     -6.2      4.5
2    2012-03-01  전국      5.4      0.7     10.4
3    2012-04-01  전국     12.4      6.4     18.7
4    2012-05-01  전국     18.1     12.6     24.4
..          ...  ..      ...      ...      ...
115  2021-08-01  전국     24.8     21.5     29.2
116  2021-09-01  전국     21.3     17.7     25.8
117  2021-10-01  전국     15.1     10.4     21.2
118  2021-11-01  전국      8.3      3.3     14.5
119  2021-12-01  전국      1.9     -3.1      7.4

[120 rows x 5 columns]

In [25]:
avg_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       120 non-null    object
 1   지점       120 non-null    object
 2   평균기온(℃)  120 non-null    float64
 3   최저기온(℃)  120 non-null    float64
 4   최고기온(℃)  120 non-null    float64
dtypes: float64(3), object(2)
memory usage: 4.8+ KB

In [26]:
avg_temperature.rename(columns={'년월':'date','평균기온(℃)':'평균기온','최저기온(℃)':'최저기온','최고기온(℃)':'최고기온'}, inplace=True)

In [27]:
avg_temperature.drop(columns='지점',inplace=True)

In [28]:
avg_temperature['date'] = pd.to_datetime(avg_temperature['date'])

In [29]:
avg_temperature

          date  평균기온  최저기온  최고기온
0   2012-01-01  -1.5  -6.2   3.6
1   2012-02-01  -1.1  -6.2   4.5
2   2012-03-01   5.4   0.7  10.4
3   2012-04-01  12.4   6.4  18.7
4   2012-05-01  18.1  12.6  24.4
..         ...   ...   ...   ...
115 2021-08-01  24.8  21.5  29.2
116 2021-09-01  21.3  17.7  25.8
117 2021-10-01  15.1  10.4  21.2
118 2021-11-01   8.3   3.3  14.5
119 2021-12-01   1.9  -3.1   7.4

[120 rows x 4 columns]

In [65]:
avg_temperature.to_csv('./pre_data/월별_전국_평균기온.csv')

In [90]:
avg_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    120 non-null    datetime64[ns]
 1   평균기온    120 non-null    float64
 2   최저기온    120 non-null    float64
 3   최고기온    120 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 3.9 KB

# 닭고기 가격 전처리(월별/일별)

In [31]:
chicken_price = pd.read_csv('./data/닭고기시세20120101_20211231.csv')
chicken_price

,date,day,5-6scale,7-8scale,9-10scale,11scale,12scale,13-16scale,닭고기 평균 가격
0,2021-12-31,Fri,"4,600","4,402","4,077","3,915","3,669","3,621","4,047"
1,2021-12-30,Thr,"4,600","4,402","4,077","3,915","3,669","3,621","4,047"
2,2021-12-29,Wed,"4,433","4,244","3,923","3,768","3,524","3,479","3,895"
3,2021-12-28,Tue,"4,433","4,244","3,923","3,768","3,524","3,479","3,895"
4,2021-12-27,Mon,"4,267","4,085","3,769","3,621","3,379","3,336","3,743"
...,...,...,...,...,...,...,...,...,...
2991,2012-01-06,Fri,"3,583","3,434","3,138","3,018","2,930","2,893","3,166"
2992,2012-01-05,Thr,"3,583","3,434","3,138","3,018","2,785","2,750","3,118"
2993,2012-01-04,Wed,"3,583","3,434","3,138","3,018","2,785","2,750","3,118"
2994,2012-01-03,Tue,"3,583","3,434","3,138","3,018","2,785","2,750","3,118"
2995,2012-01-02,Mon,"3,583","3,434","3,138","3,018","2,785","2,750","3,118"

In [32]:
chicken_price.rename(columns={'닭고기 평균 가격':'price'}, inplace=True)

In [33]:
# type을 str에서 datetime으로 바꿈
chicken_price['date'] = pd.to_datetime(chicken_price['date'])

In [34]:
# 닭고기 가격을 str에서 int로 바꿈
chicken_price['price'] =  chicken_price['price'].str.replace(',','')
chicken_price['price'] = pd.to_numeric(chicken_price['price'])

In [35]:
chicken_price.set_index(pd.DatetimeIndex(chicken_price['date'])).drop('date',axis=1)

            day 5-6scale 7-8scale 9-10scale 11scale 12scale 13-16scale  price
date
2021-12-31  Fri    4,600    4,402     4,077   3,915   3,669      3,621   4047
2021-12-30  Thr    4,600    4,402     4,077   3,915   3,669      3,621   4047
2021-12-29  Wed    4,433    4,244     3,923   3,768   3,524      3,479   3895
2021-12-28  Tue    4,433    4,244     3,923   3,768   3,524      3,479   3895
2021-12-27  Mon    4,267    4,085     3,769   3,621   3,379      3,336   3743
...         ...      ...      ...       ...     ...     ...        ...    ...
2012-01-06  Fri    3,583    3,434     3,138   3,018   2,930      2,893   3166
2012-01-05  Thr    3,583    3,434     3,138   3,018   2,785      2,750   3118
2012-01-04  Wed    3,583    3,434     3,138   3,018   2,785      2,750   3118
2012-01-03  Tue    3,583    3,434     3,138   3,018   2,785      2,750   3118
2012-01-02  Mon    3,583    3,434     3,138   3,018   2,785      2,750   3118

[2996 rows x 8 columns]

In [36]:
monthly_chicken_price = chicken_price.resample('M',on='date').mean()
monthly_chicken_price

                  price
date
2012-01-31  3202.625000
2012-02-29  3668.000000
2012-03-31  4169.884615
2012-04-30  3399.280000
2012-05-31  3255.560000
...                 ...
2021-08-31  3505.200000
2021-09-30  3074.043478
2021-10-31  3913.782609
2021-11-30  2985.269231
2021-12-31  3320.923077

[120 rows x 1 columns]

In [37]:
# price를 float에서 int로 바꿈
monthly_chicken_price['price'] = monthly_chicken_price['price'].astype('int')

In [38]:
monthly_chicken_price = monthly_chicken_price.reset_index()

In [91]:
monthly_chicken_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    120 non-null    datetime64[ns]
 1   price   120 non-null    int32
dtypes: datetime64[ns](1), int32(1)
memory usage: 1.5 KB

In [39]:
monthly_chicken_price.to_csv('./pre_data/월별_닭고기가격.csv')

In [40]:
chicken_price = chicken_price[['date','price']]
chicken_price

           date  price
0    2021-12-31   4047
1    2021-12-30   4047
2    2021-12-29   3895
3    2021-12-28   3895
4    2021-12-27   3743
...         ...    ...
2991 2012-01-06   3166
2992 2012-01-05   3118
2993 2012-01-04   3118
2994 2012-01-03   3118
2995 2012-01-02   3118

[2996 rows x 2 columns]

In [92]:
chicken_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996 entries, 0 to 2995
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2996 non-null   datetime64[ns]
 1   price   2996 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 46.9 KB

In [42]:
chicken_price.to_csv('./pre_data/일별_닭고기가격.csv')

In [43]:
avg_temperature

          date  평균기온  최저기온  최고기온
0   2012-01-01  -1.5  -6.2   3.6
1   2012-02-01  -1.1  -6.2   4.5
2   2012-03-01   5.4   0.7  10.4
3   2012-04-01  12.4   6.4  18.7
4   2012-05-01  18.1  12.6  24.4
..         ...   ...   ...   ...
115 2021-08-01  24.8  21.5  29.2
116 2021-09-01  21.3  17.7  25.8
117 2021-10-01  15.1  10.4  21.2
118 2021-11-01   8.3   3.3  14.5
119 2021-12-01   1.9  -3.1   7.4

[120 rows x 4 columns]

# 일별 기온 데이터 전처리

In [44]:
temperature_daily = pd.read_csv('./data/2012-2021 기온 daily.csv')
temperature_daily

                날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     \t2012-01-01   전국     -0.3     -4.7      3.8
1     \t2012-01-02   전국     -2.8     -7.5      2.6
2     \t2012-01-03   전국     -1.9     -5.8      2.8
3     \t2012-01-04   전국     -4.0     -6.6     -1.0
4     \t2012-01-05   전국     -4.1     -8.7      1.5
...            ...  ...      ...      ...      ...
3649  \t2021-12-28   전국      0.0     -5.2      4.9
3650  \t2021-12-29   전국      2.5     -2.5      7.5
3651  \t2021-12-30   전국     -0.7     -3.3      2.7
3652  \t2021-12-31   전국     -3.9     -7.2      0.1
3653            \t  NaN      NaN      NaN      NaN

[3654 rows x 5 columns]

In [45]:
temperature_daily['날짜'] = temperature_daily['날짜'].str.replace('\t', '')
temperature_daily

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2012-01-01   전국     -0.3     -4.7      3.8
1     2012-01-02   전국     -2.8     -7.5      2.6
2     2012-01-03   전국     -1.9     -5.8      2.8
3     2012-01-04   전국     -4.0     -6.6     -1.0
4     2012-01-05   전국     -4.1     -8.7      1.5
...          ...  ...      ...      ...      ...
3649  2021-12-28   전국      0.0     -5.2      4.9
3650  2021-12-29   전국      2.5     -2.5      7.5
3651  2021-12-30   전국     -0.7     -3.3      2.7
3652  2021-12-31   전국     -3.9     -7.2      0.1
3653              NaN      NaN      NaN      NaN

[3654 rows x 5 columns]

In [46]:
temperature_daily.isnull().sum()

날짜         0
지점         1
평균기온(℃)    1
최저기온(℃)    1
최고기온(℃)    1
dtype: int64

In [47]:
temperature_daily.dropna(axis=0,inplace=True)
temperature_daily

              날짜  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2012-01-01  전국     -0.3     -4.7      3.8
1     2012-01-02  전국     -2.8     -7.5      2.6
2     2012-01-03  전국     -1.9     -5.8      2.8
3     2012-01-04  전국     -4.0     -6.6     -1.0
4     2012-01-05  전국     -4.1     -8.7      1.5
...          ...  ..      ...      ...      ...
3648  2021-12-27  전국     -4.6    -11.2      0.5
3649  2021-12-28  전국      0.0     -5.2      4.9
3650  2021-12-29  전국      2.5     -2.5      7.5
3651  2021-12-30  전국     -0.7     -3.3      2.7
3652  2021-12-31  전국     -3.9     -7.2      0.1

[3653 rows x 5 columns]

In [48]:
temperature_daily.rename(columns={'날짜':'date', '평균기온(℃)':'평균기온','최저기온(℃)':'최저기온','최고기온(℃)':'최고기온'},inplace=True)
temperature_daily

            date  지점  평균기온  최저기온  최고기온
0     2012-01-01  전국  -0.3  -4.7   3.8
1     2012-01-02  전국  -2.8  -7.5   2.6
2     2012-01-03  전국  -1.9  -5.8   2.8
3     2012-01-04  전국  -4.0  -6.6  -1.0
4     2012-01-05  전국  -4.1  -8.7   1.5
...          ...  ..   ...   ...   ...
3648  2021-12-27  전국  -4.6 -11.2   0.5
3649  2021-12-28  전국   0.0  -5.2   4.9
3650  2021-12-29  전국   2.5  -2.5   7.5
3651  2021-12-30  전국  -0.7  -3.3   2.7
3652  2021-12-31  전국  -3.9  -7.2   0.1

[3653 rows x 5 columns]

In [49]:
temperature_daily.drop(columns='지점',inplace=True)

In [94]:
temperature_daily['date'] = pd.to_datetime(temperature_daily['date'])

In [95]:
temperature_daily.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3653 non-null   datetime64[ns]
 1   평균기온    3653 non-null   float64
 2   최저기온    3653 non-null   float64
 3   최고기온    3653 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 142.7 KB

In [96]:
temperature_daily.to_csv('./pre_data/일별_전국_평균기온.csv')

# 13도 이상, 25도 미만 기온 데이터 전처리

In [97]:
# 월별 13도 미만
under_13 = avg_temperature[avg_temperature['평균기온'] < 13]
under_13.to_csv('./pre_data/월별_13도_미만_기온.csv')

In [98]:
# 월별 25도 이상
over_25 = avg_temperature[avg_temperature['평균기온'] > 25]
over_25.to_csv('./pre_data/월별_25도_이상_기온.csv')

In [99]:
# 월별 13도 미만
under_13_daily = temperature_daily[temperature_daily['평균기온'] < 13]
under_13_daily.to_csv('./pre_data/일별_13도_미만_기온.csv')

In [100]:
# 월별 25도 이상
over_25 = temperature_daily[temperature_daily['평균기온'] > 25]
over_25.to_csv('./pre_data/일별_25도_이상_기온.csv')

# 닭고기 수입량 데이터 전처리

In [62]:
import_amount = pd.read_csv('./data/닭고기수입량(2012_2022).csv')
import_amount

           date  import amount
0    2012-01-31         8754.0
1    2012-02-29        10098.0
2    2012-03-31        10836.0
3    2012-04-30        13412.0
4    2012-05-31        14519.0
..          ...            ...
115  2021-08-31         9360.0
116  2021-09-30         9009.0
117  2021-10-31        12005.0
118  2021-11-30        10025.0
119  2021-12-31        11293.0

[120 rows x 2 columns]

In [63]:
import_amount['date'] = pd.to_datetime(import_amount['date'])
import_amount['import amount'] = import_amount['import amount'].astype('int')

In [64]:
import_amount.to_csv('./pre_data/월별_닭고기_수입량.csv')

# 폭염, 한파 데이터 처리

In [74]:
hot_price = pd.read_csv('./data/2012_2021폭염일수.csv')
cold_price = pd.read_csv('./data/2012_2021한파일수.csv')

In [75]:
hot_price['date'] = pd.to_datetime(hot_price['date'])
hot_price['hot_day'] = hot_price['hot_day'].astype('int')

In [82]:
hot_price

          date  hot_day
0   2012-01-31        0
1   2012-02-29        0
2   2012-03-31        0
3   2012-04-30        0
4   2012-05-31        0
..         ...      ...
115 2021-08-31        3
116 2021-09-30        0
117 2021-10-31        0
118 2021-11-30        0
119 2021-12-31        0

[120 rows x 2 columns]

In [77]:
cold_price['date'] = pd.to_datetime(cold_price['date'])
cold_price['cold_day'] = cold_price['cold_day'].astype('int')

In [78]:
cold_price

          date  cold_day
0   2012-01-31         4
1   2012-02-29         3
2   2012-03-31         0
3   2012-04-30         0
4   2012-05-31         0
..         ...       ...
115 2021-08-31         0
116 2021-09-30         0
117 2021-10-31         0
118 2021-11-30         0
119 2021-12-31         1

[120 rows x 2 columns]

In [86]:
hot_price = hot_price[hot_price['hot_day'] > 0]
hot_price.reset_index(drop=True)
hot_price.to_csv('./pre_data/월별_폭염있는달.csv')

In [88]:
cold_price = cold_price[cold_price['cold_day'] > 0]
cold_price.reset_index(drop=True)
cold_price.to_csv('./pre_data/월별_한파있는달.csv')

# 병아리 가격 데이터 전처리

In [27]:
chick_price = pd.read_csv('./data/병아리_가격.csv')
chick_price

            date  병아리(원/수)
0     2012-01-02       300
1     2012-01-03       300
2     2012-01-04       300
3     2012-01-05       200
4     2012-01-06       200
...          ...       ...
2990  2021-12-27       400
2991  2021-12-28       400
2992  2021-12-29       400
2993  2021-12-30       400
2994  2021-12-31       400

[2995 rows x 2 columns]

In [28]:
chick_price['date'] = pd.to_datetime(chick_price['date'])

In [29]:
chick_price['병아리(원/수)'] = chick_price['병아리(원/수)'].astype('int')

In [30]:
chick_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2995 entries, 0 to 2994
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2995 non-null   datetime64[ns]
 1   병아리(원/수)  2995 non-null   int32
dtypes: datetime64[ns](1), int32(1)
memory usage: 35.2 KB

In [38]:
chick_price.to_csv('./pre_data/일별_병아리가격.csv')

In [31]:
chick_price.set_index(pd.DatetimeIndex(chick_price['date'])).drop('date',axis=1)

            병아리(원/수)
date
2012-01-02       300
2012-01-03       300
2012-01-04       300
2012-01-05       200
2012-01-06       200
...              ...
2021-12-27       400
2021-12-28       400
2021-12-29       400
2021-12-30       400
2021-12-31       400

[2995 rows x 1 columns]

In [32]:
monthly_chick_price = chick_price.resample('M',on='date').mean()
monthly_chick_price

              병아리(원/수)
date
2012-01-31  250.000000
2012-02-29  420.000000
2012-03-31  500.000000
2012-04-30  332.000000
2012-05-31  200.000000
...                ...
2021-08-31  312.000000
2021-09-30  408.695652
2021-10-31  447.826087
2021-11-30  315.384615
2021-12-31  273.076923

[120 rows x 1 columns]

In [33]:
# price를 float에서 int로 바꿈
monthly_chick_price['병아리(원/수)'] = monthly_chick_price['병아리(원/수)'].astype('int')

In [34]:
monthly_chick_price

            병아리(원/수)
date
2012-01-31       250
2012-02-29       420
2012-03-31       500
2012-04-30       332
2012-05-31       200
...              ...
2021-08-31       312
2021-09-30       408
2021-10-31       447
2021-11-30       315
2021-12-31       273

[120 rows x 1 columns]

In [35]:
monthly_chick_price = monthly_chick_price.reset_index()

In [37]:
monthly_chick_price.to_csv('./pre_data/월별_병아리가격.csv')