In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# 사료값
feed = pd.read_csv('./data/사료값(kim).csv')
feed['date'] = pd.to_datetime(feed['date'])
feed.rename(columns = {'feed':'feedprice'},inplace=True)
feed.to_csv('./pre_data/월별_사료값.csv')

In [12]:
feed

          date  feedprice
0   2012-01-31      533.6
1   2012-02-29      529.9
2   2012-03-31      527.9
3   2012-04-30      526.3
4   2012-05-31      526.2
..         ...        ...
117 2021-10-31      508.0
118 2021-11-30      520.0
119 2021-12-31      511.0
120        NaT        NaN
121        NaT        NaN

[122 rows x 2 columns]

In [16]:
#도축현황
chicken = pd.read_csv('./data/도축현황(kim).csv')
chicken['date'] = pd.to_datetime(chicken['date'])
# 도축현황을 str에서 int로 바꿈
chicken['도축'] =  chicken['도축'].str.replace(',','')
chicken['도축'] = pd.to_numeric(chicken['도축'])
chicken.to_csv('./pre_data/월별_도축건수.csv')