In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
feed = pd.read_csv('./data/사료값.csv')

In [16]:
feed['date'] = pd.to_datetime(feed['date'])

In [21]:
feed = feed.astype({'feed':'int'})

In [22]:
feed.to_csv('')

          date  feed
0   2012-01-31   533
1   2012-02-29   529
2   2012-03-31   527
3   2012-04-30   526
4   2012-05-31   526
..         ...   ...
115 2021-08-31   492
116 2021-09-30   503
117 2021-10-31   508
118 2021-11-30   520
119 2021-12-31   511

[120 rows x 2 columns]

In [24]:
feed.rename(columns = {'feed':'feedprice'},inplace=True)

In [25]:
feed

          date  feedprice
0   2012-01-31        533
1   2012-02-29        529
2   2012-03-31        527
3   2012-04-30        526
4   2012-05-31        526
..         ...        ...
115 2021-08-31        492
116 2021-09-30        503
117 2021-10-31        508
118 2021-11-30        520
119 2021-12-31        511

[120 rows x 2 columns]

In [26]:
feed.to_csv('월별_사료값.csv')