In [154]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

In [155]:
# 그래프 한글, 마이너스 깨짐 방지

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

## 원유 가격 데이터 전처리

In [47]:
# 2012~2021년 각 월별 원유 데이터
oil_day = pd.read_csv('./data/국제_원유가격20120101_20211231.csv', encoding='utf-8')
oil_day

             기간   Dubai   Brent     WTI
0     12년01월03일  105.91  112.13  102.96
1     12년01월04일  108.49  113.70  103.22
2     12년01월05일  110.23  112.74  101.81
3     12년01월06일  109.92  113.06  101.56
4     12년01월09일  110.50  112.45  101.31
...         ...     ...     ...     ...
2576  21년12월27일     NaN   78.60   75.57
2577  21년12월28일   76.47   78.94   75.98
2578  21년12월29일   76.91   79.23   76.56
2579  21년12월30일   77.24   79.32   76.99
2580  21년12월31일   77.12   77.78   75.21

[2581 rows x 4 columns]

In [48]:
oil_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2581 entries, 0 to 2580
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      2581 non-null   object
 1   Dubai   2503 non-null   float64
 2   Brent   2573 non-null   float64
 3   WTI     2514 non-null   float64
dtypes: float64(3), object(1)
memory usage: 80.8+ KB

In [ ]:
# 월별 닭고기, 수입량 정규화 그래프

plt.style.use('default')
plt.rcParams['figure.figsize'] = (20,10)
plt.rcParams['font.size'] = 15
plt.rcParams['font.family'] = font_name

x = price_df['date']
y1 = price_df['price_ss']
y2 = income_df['income_ss']

fig, ax1 = plt.subplots()
ax1.set_title('월별 닭고기 가격, 수입량 정규화 그래프')
ax1.set_xlabel('시점')
ax1.set_ylabel('닭고기 가격')
ax1.plot(x, y1, color='blue',label='닭고기')

ax2 = ax1.twinx()
ax2.set_ylabel('닭고기 수입량')
ax2.plot(x, y2, color='red',label='수입량')

plt.xticks(['2012-01-31', '2013-01-31', '2014-01-31','2015-01-31','2016-01-31','2017-01-31', '2018-01-31', '2019-01-31', '2020-01-31', '2021-01-31'])
fig.legend()
plt.show()